$menu-width: 64px
$footer-height: 32px
$panel-padding: 5px

.menu
  height: 100%
  width: $menu-width
  padding: $panel-padding

.footer
  height: $footer-height
  padding: 0 16px 0 16px
  display: flex
  align-items: center
  overflow-y: hidden
